*.pyc
Makefile
Makefile.in
\#*#
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
doc/*.html
install-sh
missing
rdpl2stream.tar.gz
src/config.h
src/stamp-h1
web.tar.gz
uprclbottle.tar.gz
